@* Created by Frank Carusi, will display table with all the listings that the signed in user has on their account. 
   Using this page they can edit, delete, or view the details of the listing. 
*@
@model IEnumerable<PARKIT_enterprise_final.Models.Listing>

@{
    ViewData["Title"] = "AllListings";
}

<div class="all-listing">   
<div class="center-container">
    <div class="card card-container">
        <div class="card-header">
            <h1 class="card-title">All Listings</h1>
        </div>
        <div class="card-body">
            <p>
                <a asp-action="CreateListing" class="btn btn-create">Create New</a>
            </p>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Address.StreetAddress)</th>
                        <th>@Html.DisplayNameFor(model => model.StartTime)</th>
                        <th>@Html.DisplayNameFor(model => model.EndTime)</th>
                        <th>@Html.DisplayNameFor(model => model.Price)</th>
                        <th>@Html.DisplayNameFor(model => model.IsBooked)</th>
                        <th>@Html.DisplayNameFor(model => model.IsAvailable)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Listing item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Address.StreetAddress)</td>
                            <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                            <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            <td>@Html.DisplayFor(modelItem => item.IsBooked)</td>
                            <td>@Html.DisplayFor(modelItem => item.IsAvailable)</td>
                            <td>
                                <a asp-action="UpdateListing" asp-route-id="@item.Id" class="btn text-decoration-underline">Edit</a> |
                                <a asp-action="ListingDetails" asp-route-id="@item.Id" class="btn text-decoration-underline">Details</a> | 
                                <a asp-action="DeleteListing" asp-route-id="@item.Id" class="btn text-decoration-underline">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>