@model IEnumerable<PARKIT_enterprise_final.Models.Listing>

@{
    ViewData["Title"] = "AllListings";
}

<h1>AllListings</h1>

<p>
    <a asp-action="CreateListing">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address.StreetAddress)
            
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBooked)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (Listing item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBooked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                <a asp-action="UpdateListing" asp-route-id="@item.Id">Edit @item.Id</a> |
                <a asp-action="ListingDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteListing" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
